<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>List</title>
</head>
<body>
<div class="container">
    <div th:insert="~{template.html::header}"></div>
    <h1>List book</h1>
    <a th:href="@{/book/create}">Create new a student</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Author</th>
            <th scope="col">Name book</th>
            <th scope="col">Price</th>
            <th scope="col">Category book</th>
        </tr>
        </thead>
        <tbody>
            <div th:each="book : ${books}" th:object="${book}">
                <tr>
                    <td th:text="*{bookId}"></td>
                    <td th:text="*{author}"></td>
                    <td th:text="*{name}"></td>
                    <td th:text="*{price}"></td>
                    <td th:text="*{category.name}"></td>
                </tr>
            </div>
        </tbody>
    </table>
    <div th:include="~{template.html::footer}"></div>
</div>
</body>
</html>