<div class="container">
  <div class="form-group">
    <label for="first">First number</label>
    <input type="text" class="form-control" id="first" (change)="setFirstNumber($event.target)">
  </div>
  <div class="form-group">
    <label for="second">Second number</label>
    <input type="text" class="form-control" id="second" (change)="setSecondNumber($event.target)">
  </div>
  <div class="p-0 col-6">
    <div class="d-flex justify-content-between">
      <button type="button" class="col-2 btn btn-primary" (click)="choiceCal($event.target)" value="+">+</button>
      <button type="button" class="col-2 btn btn-secondary" (click)="choiceCal($event.target)" value="-">-</button>
      <button type="button" class="col-2 btn btn-success" (click)="choiceCal($event.target)" value="*">*</button>
      <button type="button" class="col-2 btn btn-danger" (click)="choiceCal($event.target)" value="/">/</button>
    </div>
  </div>
  <h1>Ket qua: {{total}}</h1>
</div>
