* {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0px 15px;
  display: flex;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#header {
  background-color: #23282d;
  padding: 28px 0px 9px;
}

#header a img {
  padding-top: 7px;
}

#header form {
  position: relative;
}

#header form input {
  padding: 9px 33px 9px 13px;
  background-color: #131619;
  outline: none;
  border: none;
}

#header form input::placeholder {
  color: #909090;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

#header form input:focus {
  color: #909090;
}

#header form button {
  position: absolute;
  background-color: #131619;
  outline: none;
  border: none;
  color: #565758;
  right: 0px;
  top: 0px;
  padding: 9px 13px;
}

nav {
  padding-top: 8px;
  flex: 100%;
}

nav ul#main-menu {
  border-right: 10px solid #ff2d2d;
  margin-bottom: 0px;
}

ul#main-menu li a {
  line-height: 16px;
  display: block;
  padding: 12px 21px 8px;
  text-decoration: none;
  color: #eeeeee;
}

ul#main-menu li:hover a {
  color: #4db2ec;
}

ul#main-menu li:first-child a {
  padding-left: 0px;
}
