.justify-content-between{
    justify-content:space-between;
}

.mt-7{
    margin-top:7px;
}

.pt-20{
    padding-top:20px;
}
.pt-30{
    padding-top:30px;
}

.d-flex{
    display:flex;
}

.jbw{
    justify-content: space-between;
}