<div class="container">
  <form [formGroup]="employeeGroup" (ngSubmit)="createEmployee()">
    <div class="mb-3">
      <label for="name" class="form-label">Full name</label>
      <input type="text" class="form-control" formControlName="nameEmployee" id="name" >
      <p class="error" *ngIf="employeeGroup.controls['nameEmployee'].hasError('required') && (employeeGroup.controls['nameEmployee'].touched||employeeGroup.controls['nameEmployee'].dirty)">Bắt buộc</p>
      <p class="error" *ngIf="employeeGroup.controls['nameEmployee'].hasError('minlength') && (employeeGroup.controls['nameEmployee'].touched||employeeGroup.controls['nameEmployee'].dirty)">Phải trên 6 kí tự</p>
    </div>
    <div class="mb-3">
      <label for="code" class="form-label">Code</label>
      <input type="text" class="form-control" formControlName="idEmployee" id="code" >
      <p class="error" *ngIf="employeeGroup.controls['idEmployee'].hasError('required') && (employeeGroup.controls['idEmployee'].touched||employeeGroup.controls['idEmployee'].dirty)">Bắt buộc</p>
      <p class="error" *ngIf="employeeGroup.controls['idEmployee'].hasError('pattern') && (employeeGroup.controls['idEmployee'].touched||employeeGroup.controls['idEmployee'].dirty)">Không đúng định dạng</p>
    </div>
    <div class="mb-3 w-50">
      <label for="birthday" class="form-label">Birthday: </label>
      <input type="date" id="birthday" class="form-control" formControlName="dateOfBirth">
      <p class="error" *ngIf="employeeGroup.controls['dateOfBirth'].hasError('required') && (employeeGroup.controls['dateOfBirth'].touched||employeeGroup.controls['dateOfBirth'].dirty)">Bắt buộc</p>
      <p class="error" *ngIf="employeeGroup.controls['dateOfBirth'].hasError('pattern') && (employeeGroup.controls['dateOfBirth'].touched||employeeGroup.controls['dateOfBirth'].dirty)">Không đúng định dạng</p>
    </div>
<!--    <div class="form-check">-->
<!--      <div class="form-check form-check-inline">-->
<!--        <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" formControlName="gender" [value]="true">-->
<!--        <label class="form-check-label" for="inlineRadio1">Male</label>-->
<!--      </div>-->
<!--      <div class="form-check form-check-inline">-->
<!--        <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" formControlName="gender" [value]="false">-->
<!--        <label class="form-check-label" for="inlineRadio2">Female</label>-->
<!--      </div>-->
<!--    </div>-->
    <div class="mb-3">
      <label for="idCard" class="form-label">Id card</label>
      <input type="text" class="form-control" formControlName="idCard" id="idCard">
      <p class="error" *ngIf="employeeGroup.controls['idCard'].hasError('required') && (employeeGroup.controls['idCard'].touched||employeeGroup.controls['idCard'].dirty)">Bắt buộc</p>
      <p class="error" *ngIf="employeeGroup.controls['idCard'].hasError('pattern') && (employeeGroup.controls['idCard'].touched||employeeGroup.controls['idCard'].dirty)">Không đúng định dạng</p>
    </div>
    <!--  <%--                <div class="mb-3">--%>-->
    <!--  <%--                    <label for="salary" class="form-label">Salary</label>--%>-->
    <!--  <%--                    <input type="text" class="form-control" name="salary" id="salary" placeholder="Enter salary" value="${employee.getEmployeeSalary()}">--%>-->
    <!--  <%--                    <span style="color: red;">${stringList[2]}</span>--%>-->
    <!--  <%--                </div>--%>-->
    <div class="mb-3">
      <label for="phone" class="form-label">Phone number</label>
      <input type="text" class="form-control" formControlName="phoneNumber" id="phone">
      <p class="error" *ngIf="employeeGroup.controls['phoneNumber'].hasError('required') && (employeeGroup.controls['phoneNumber'].touched||employeeGroup.controls['phoneNumber'].dirty)">Bắt buộc</p>
      <p class="error" *ngIf="employeeGroup.controls['phoneNumber'].hasError('pattern') && (employeeGroup.controls['phoneNumber'].touched||employeeGroup.controls['phoneNumber'].dirty)">Không đúng định dạng</p>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="email" id="email">
      <p class="error" *ngIf="employeeGroup.controls['email'].hasError('required') && (employeeGroup.controls['email'].touched||employeeGroup.controls['email'].dirty)">Bắt buộc</p>
      <p class="error" *ngIf="employeeGroup.controls['email'].hasError('email') && (employeeGroup.controls['email'].touched||employeeGroup.controls['email'].dirty)">Không đúng định dạng</p>
    </div>
<!--    <div class="mb-3">-->
<!--      <label for="address" class="form-label">Address</label>-->
<!--      <input type="text" class="form-control" formControlName="address" id="address">-->
<!--      <p class="error" *ngIf="employeeGroup.controls['dateOfBirth'].hasError('pattern') && (employeeGroup.controls['dateOfBirth'].touched||employeeGroup.controls['dateOfBirth'].dirty)">Không đúng định dạng</p>-->
<!--    </div>-->
    <div class="mb-3">
      <label for="position" class="form-label">Employee position</label>
      <select class="form-control form-select-lg mb-3" id="position" formControlName="position">
        <option selected>Open this select menu</option>
        <option *ngFor="let position of employeePositions" [ngValue]="position">{{position.name}}</option>
      </select>
      <p class="error" *ngIf="employeeGroup.controls['position'].hasError('required') && (employeeGroup.controls['position'].touched||employeeGroup.controls['position'].dirty)">Bắt buộc</p>
    </div>
    <div class="mb-3">
      <label for="level" class="form-label">Employee level</label>
      <select class="form-control form-select-lg mb-3"  id="level" formControlName="level">
        <option selected>Open this select menu</option>
        <option *ngFor="let level of employeeLevels" [ngValue]="level">{{level.name}}</option>
      </select>
      <p class="error" *ngIf="employeeGroup.controls['level'].hasError('required') && (employeeGroup.controls['level'].touched||employeeGroup.controls['level'].dirty)">Bắt buộc</p>
    </div>
    <div class="mb-3">
      <label for="department" class="form-label">Employee department</label>
      <select class="form-control form-select-lg mb-3" id="department" formControlName="department">
        <option selected>Open this select menu</option>
        <option *ngFor="let department of employeeDepartments" [ngValue]="department">{{department.name}}</option>
      </select>
      <p class="error" *ngIf="employeeGroup.controls['department'].hasError('required') && (employeeGroup.controls['department'].touched||employeeGroup.controls['department'].dirty)">Bắt buộc</p>
    </div>
    <div class="mb-3">
      <label for="salary" class="form-label">Salary</label>
      <input type="number" class="form-control" formControlName="salary" id="salary">
      <p class="error" *ngIf="employeeGroup.controls['salary'].hasError('required') && (employeeGroup.controls['salary'].touched||employeeGroup.controls['salary'].dirty)">Bắt buộc</p>
      <p class="error" *ngIf="employeeGroup.controls['salary'].hasError('gte') && (employeeGroup.controls['salary'].touched||employeeGroup.controls['salary'].dirty)">nguyen duong</p>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
