<div class="container">
  <form [formGroup]="employeeGroup" (ngSubmit)="createEmployee()">
    <div class="mb-3">
      <label for="name" class="form-label">Full name</label>
      <input type="text" class="form-control" formControlName="employeeName" id="name" >
<!--      <p class="error" *ngIf="employeeGroup.controls['employeeName'].hasError('required') && (employeeGroup.controls['employeeName'].touched||employeeGroup.controls['employeeName'].dirty)">Bắt buộc</p>-->
<!--      <p class="error" *ngIf="employeeGroup.controls['employeeName'].hasError('minlength') && (employeeGroup.controls['employeeName'].touched||employeeGroup.controls['employeeName'].dirty)">Phải trên 6 kí tự</p>-->
    </div>
    <div class="mb-3 w-50">
      <label for="birthday" class="form-label">Birthday: </label>
      <input type="date" id="birthday" class="form-control" formControlName="employeeBirthday">
      <p class="error" *ngIf="employeeGroup.controls['employeeBirthday'].hasError('required') && (employeeGroup.controls['employeeBirthday'].touched||employeeGroup.controls['employeeBirthday'].dirty)">Bắt buộc</p>
      <p class="error" *ngIf="employeeGroup.controls['employeeBirthday'].hasError('pattern') && (employeeGroup.controls['employeeBirthday'].touched||employeeGroup.controls['employeeBirthday'].dirty)">Không đúng định dạng</p>
    </div>
    <div class="mb-3">
      <label for="employeeIdCard" class="form-label">Id card</label>
      <input type="text" class="form-control" formControlName="employeeIdCard" id="employeeIdCard">
      <p class="error" *ngIf="employeeGroup.controls['employeeIdCard'].hasError('required') && (employeeGroup.controls['employeeIdCard'].touched||employeeGroup.controls['employeeIdCard'].dirty)">Bắt buộc</p>
      <p class="error" *ngIf="employeeGroup.controls['employeeIdCard'].hasError('pattern') && (employeeGroup.controls['employeeIdCard'].touched||employeeGroup.controls['employeeIdCard'].dirty)">Không đúng định dạng</p>
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Phone number</label>
      <input type="text" class="form-control" formControlName="employeePhone" id="phone">
      <p class="error" *ngIf="employeeGroup.controls['employeePhone'].hasError('required') && (employeeGroup.controls['employeePhone'].touched||employeeGroup.controls['employeePhone'].dirty)">Bắt buộc</p>
      <p class="error" *ngIf="employeeGroup.controls['employeePhone'].hasError('pattern') && (employeeGroup.controls['employeePhone'].touched||employeeGroup.controls['employeePhone'].dirty)">Không đúng định dạng</p>
    </div>
    <div class="mb-3">
      <label for="employeeEmail" class="form-label">Email</label>
      <input type="employeeEmail" class="form-control" formControlName="employeeEmail" id="employeeEmail">
      <p class="error" *ngIf="employeeGroup.controls['employeeEmail'].hasError('required') && (employeeGroup.controls['employeeEmail'].touched||employeeGroup.controls['employeeEmail'].dirty)">Bắt buộc</p>
      <p class="error" *ngIf="employeeGroup.controls['employeeEmail'].hasError('employeeEmail') && (employeeGroup.controls['employeeEmail'].touched||employeeGroup.controls['employeeEmail'].dirty)">Không đúng định dạng</p>
    </div>
    <div class="mb-3">
      <label for="employeeAddress" class="form-label">Address</label>
      <input type="text" class="form-control" formControlName="employeeAddress" id="employeeAddress">
      <p class="error" *ngIf="employeeGroup.controls['employeeAddress'].hasError('required') && (employeeGroup.controls['employeeAddress'].touched||employeeGroup.controls['employeeAddress'].dirty)">Bắt buộc</p>
      <p class="error" *ngIf="employeeGroup.controls['employeeAddress'].hasError('minlength') && (employeeGroup.controls['employeeAddress'].touched||employeeGroup.controls['employeeAddress'].dirty)">Phải trên 6 kí tự</p>
    </div>
    <div class="mb-3">
      <label for="position" class="form-label">Employee position</label>
      <select class="form-control form-select-lg mb-3" id="position" formControlName="position">
        <option>Open this select menu</option>
        <option *ngFor="let position of positions" [ngValue]="position">{{position.positionName}}</option>
      </select>
      <p class="error" *ngIf="employeeGroup.controls['position'].hasError('required') && (employeeGroup.controls['position'].touched||employeeGroup.controls['position'].dirty)">Bắt buộc</p>
    </div>
    <div class="mb-3">
      <label for="educationDegree" class="form-label">Education degree</label>
      <select class="form-control form-select-lg mb-3" id="educationDegree" formControlName="educationDegree">
        <option>Open this select menu</option>
        <option *ngFor="let educationDegree of educationDegrees" [ngValue]="educationDegree">{{educationDegree.educationDegreeName}}</option>
      </select>
      <p class="error" *ngIf="employeeGroup.controls['educationDegree'].hasError('required') && (employeeGroup.controls['educationDegree'].touched||employeeGroup.controls['educationDegree'].dirty)">Bắt buộc</p>
    </div>
    <div class="mb-3">
      <label for="division" class="form-label">Employee division</label>
      <select class="form-control form-select-lg mb-3" id="division" formControlName="division">
        <option>Open this select menu</option>
        <option *ngFor="let division of divisions" [ngValue]="division">{{division.divisionName}}</option>
      </select>
      <p class="error" *ngIf="employeeGroup.controls['division'].hasError('required') && (employeeGroup.controls['division'].touched||employeeGroup.controls['division'].dirty)">Bắt buộc</p>
    </div>
    <div class="mb-3">
      <label for="employeeSalary" class="form-label">Salary</label>
      <input type="number" class="form-control" formControlName="employeeSalary" id="employeeSalary">
      <p class="error" *ngIf="employeeGroup.controls['employeeSalary'].hasError('required') && (employeeGroup.controls['employeeSalary'].touched||employeeGroup.controls['employeeSalary'].dirty)">Bắt buộc</p>
      <p class="error" *ngIf="employeeGroup.controls['employeeSalary'].hasError('gte') && (employeeGroup.controls['employeeSalary'].touched||employeeGroup.controls['employeeSalary'].dirty)">nguyen duong</p>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
