body {
  font: 12px "Arial", Arial, Helvetica, sans-serif;
  background-image: url("/assert/images/bg_pattern.jpg");
  color: #333;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page .header {
  background-image: url(/assert/images/headerbg.png);
  width: 100%;
  height: 150px;
}

.page .header ul li {
  display: inline-block;
}

.page .header ul.topnav {
  float: left;
  width: 400px;
  text-align: left;
  margin: 0;
}

.clearfix::after {
  content: " ";
  display: table;
}
.clearfix::before {
  content: " ";
  display: table;
}

.page .header ul.topprofile {
  float: right;
  width: 600px;
  text-align: right;
  margin: 0;
}

.page .header ul.topnav li a {
  text-decoration: none;
  font-size: 11px;
  line-height: 22px;
  text-transform: uppercase;
  color:#016600;
}

.page .header ul.topnav li:not(0) a::before{
    content: "|";
    padding:0 15px;
}
