*{
    box-sizing:border-box;
}
body{
    width:100vw;
    height:100vh;
}
html{
    font-size:10px;
}
.container{
    margin:5rem;
    text-align:center;
}
table{
    /*text-align:center;*/
    display:inline;
    font-size:7rem;
    width:100%;
    border-collapse: collapse;

}
.heading{
    text-align:center;
    font-size:5rem;
}

td,th{
    border:1px solid #000;
    padding:1rem;
}
th{
    background-color: #FEFB00;
}