html{
    font-size:10px;
}

table{
    border-collapse: collapse;
    background-color: white;
    display: inline-block;
}

td{
    width:10rem;
    height:10rem;
    padding:0px;
    margin:0px;
}

tr:nth-child(2n) td:nth-child(2n+1){
    background-color:black;
}
tr:nth-child(2n+1) td:nth-child(2n){
    background-color:black;
}

th{

    background:#FFB300;
    padding:0px;
    margin:0px;
}
.row:not(:first-child){
    height:5rem;
    width:5rem;
}

.col{
    display:block;
    width:5rem;
    height:10rem;
}

.container{
    padding:5rem;
    width:100rem;
    height:100vh;
    margin:0 auto;
    background: #dbdada;
    text-align:center;
}