*,*:after,*:before{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

html{
    font-size:10px;
}

body{
    width: 100vw;
    height:100vh;
    background-image:url("./2.jpg");
    background-size:cover ;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: 50%;
}

#wrapper{
    width:50vw;
    height: 50vh;
    /* margin:5rem auto; */
    background-color: rgba(250, 235, 215, 0.526);
    /* margin:0 auto; */
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    box-shadow: 10px 10px 10px 0 rgba(239, 143, 17, 0.348);
}

p#text{
    font-size: 2rem;
    text-align: center;
}