<h1>Cập nhật sản phẩm</h1>
<form  >
  <table>
    <tr>
      <td>Mã sản phẩm:</td>
      <td><input type="number"  [(ngModel)]="product.id" name="id"></td>
    </tr>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" [(ngModel)]="product.name" name="name"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" [(ngModel)]="product.price" name="price"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text"  [(ngModel)]="product.description" name="description"></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Cập nhật</button></td>
    </tr>
  </table>
</form>
