<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<head th:include="~{template/head}"></head>-->
<div th:include="~{fragments/head}"></div>
<body>
<div class="table">
    <div class="table_header">
        <p>Product</p>
        <form th:action="@{/customer/list}">
            <div>
                <!--                <select name="" id="">-->
                <!--                    <option value="">1</option>-->
                <!--                    <option value="">Da nang</option>-->
                <!--                    <option value="">1</option>-->
                <!--                </select>-->
                <input type="text" th:name="name" placeholder="Search name"/>
                <button th:type="submit" class="add_new"><i class="fa-solid fa-magnifying-glass"></i></button>
                <button class="add_new"><a th:href="@{/customer/create}" style="color: white; text-decoration: none">+ Add New</a></button>
            </div>
        </form>
    </div>
    <div class="table_section">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Birthday</th>
                <th>Gender</th>
                <th>Id card</th>
                <th>Phone number</th>
                <th>Address</th>
                <th>Email</th>
                <th>Customer type</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="customer : ${customers}" th:object="${customer}">
                <tr>
                    <td th:text="*{customerId}"></td>
                    <td th:text="*{customerName}"></td>
                    <td th:text="*{customerBirthday}"></td>
                    <td th:if="*{customerGender}" th:text="Male"></td>
                    <td th:unless="*{customerGender}" th:text="Female"></td>
                    <td th:text="*{customerIdCard}"></td>
                    <td th:text="*{customerPhone}"></td>
                    <td th:text="*{customerAddress}"></td>
                    <td th:text="*{customerEmail}"></td>
                    <td th:text="*{customerType.customerTypeName}"></td>
                    <td>
                        <button type="submit"><a th:href="@{/customer/edit/(id=${customer.customerId})}"><i
                                class="fa-solid fa-pen-to-square"></i></a></button>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                th:data-target="'#exampleModal' + ${customer.customerId}">
                            <i class="fa-solid fa-trash"></i>
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" th:id="'exampleModal' + ${customer.customerId}" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Bạn có muốn xoá: <span th:text="*{customerName}"></span></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <button type="submit"><a
                                                th:href="@{/customer/delete/(id=${customer.customerId})}"><i
                                                class="fa-solid fa-trash"></i></a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit"><a th:href="@{/customer/view/(id=${customer.customerId})}"><i
                                class="fa-solid fa-eye"></i></a>
                        </button>
                    </td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>