<div id="header">
  <div class="container justify-content-between">
    <a href="">
      <img src="../../assets/images/logo.png" alt="" class="logo">
    </a>
    <form class="">
      <input type="text" placeholder="Bạn muốn tìm gì?">
      <button style="padding: 13px 13px"><i class="fas fa-search"></i></button>
    </form>
  </div>
  <div class="container">
    <nav>
      <ul id="main-menu" class="d-flex">
        <li><a href="../index.jsp">Home</a></li>
        <li><a href="/employees">Employee</a></li>
        <li class="acc"><a style="color:#23282E;" href="">Customer</a></li>
        <li><a href="/services">Service</a></li>
        <li><a href="/contracts">Contract</a></li>
      </ul>
    </nav>
  </div>
</div>
